:root{
  --color-primary: #00D1FF;
  --color-secondary: #3d6cb9;
  --color-complementary: #00FFF0;
  --light-color: #FAFAF6;
  --dark-color: #201E43;

  --redhat: "Red Hat Display", sans-serif;
  --roboto: "Roboto", sans-serif;
  --DMsans: "DM Sans", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

.app{
  display: flex;
  background-color: var(--light-color);
}
main{
  flex: 1;
  padding: 20px;
  margin: 0px 20px;
}
.app-container{
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
}