header {
	display: flex;
	//width: 100%;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 0;
	//background: white;
	background: none;
	//border-bottom: 2px solid #b1b1b1;
	z-index: 100;

	.btn-icon{
		background-color: rgb(255, 255, 255);
		color: var(--color-secondary);
	}
}
.app-content {
	display: flex;
	height: 100%;
	background: #343a40;
}
main {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	height: 100%;
	flex: 1 1 0%;
	position: relative;
	display: flex;
	flex-direction: column;
	background: white;
	margin: 6px;
    height: calc(100% - 12px);
    border-radius: 15px;

	.main-section-header {
		position: relative;
		display: flex;
		width: 100%;
		//min-height: 90px;
	}
	section {
		top: 0;
		width: 100%;
		overflow: auto;
	}
}

.nav-bar-drawer {
	flex: 0 0 auto;
	height: 100%;
	overflow: hidden;
	transition: 0.4s;
	width: 68px;
	position: relative;
	.nav-bar-header {
		min-height: 90px;
		background: #343a40;
	}

	.nav-section {
		h4 {
			font-size: 13px;
			//color: #4e4e4e;
			color: rgb(221, 221, 221);
			font-weight: 900;
			font-family: var(--redhat);
			margin: 0;
			transition: 0.2s;
			height: 0px;
			display: flex;
			align-items: end;
			padding-left: 14px;
			overflow: hidden;
		}
		/*&:not(:last-child) {
			//border-bottom: 2px solid #b1b1b1;
		}*/
	}

	nav {
		height: 100%;
		//border-right: 2px solid #b1b1b1;
		transition: 0.4s;
		ul {
			//background: white;
			position: relative;
			padding-top: 20px;
			transition: 0.2s;
			margin: 0;
			//padding-bottom: 25px;
			background: #343a40;
		}
		li {
			padding: 0px 10px;
			position: relative;
			z-index: 1;
			//background-color: white;
			background: #343a40;

			a {
				display: flex;
				padding: 10px;
				align-items: center;
				border-radius: 10px;
				transition: 0.2s;
				color: white;

				span {
					min-width: 40px;
					display: inline-flex;
					margin-right: 10px;
					height: fit-content;
				}
				p {
					margin: 0;
					font-size: 18px;
					font-family: var(--redhat);
					font-weight: 500;
					white-space: nowrap;
				}
				&:hover {
					background-color: #f1f1f1;
					background-color: #343a40;
					color: var(--color-secondary);
				}
				&.active {
					background: var(--bs-blue);
					color: white;
				}
			}
		}
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			background: #343a40;

			p {
				white-space: nowrap;
				width: 0px;
				text-align: center;
				overflow: hidden;
				transition: 0.2s;
				color: #f1f1f1ab;
			}

			button {
				opacity: 0;
				margin-bottom: 20px;
			}
		}
	}
}
.nav-open {
	width: 250px;
	.nav-section h4 {
		height: 40px;
	}
	nav {
		ul {
			padding-top: 0px;
		}

		.footer {
			p {
				width: 100%;
			}
			button {
				opacity: 1;
			}
		}
	}
}

.btn-icon {
	border: none;
	border-radius: 100%;
	width: 41.6px;
	height: 41.6px;
	background: none;
	transition: 0.2s;

	&:hover {
		background-color: #f1f1f1;
	}
}
